In [4]:
#imports
import pandas as pd

In [5]:
pd.options.display.max_columns = None

In [6]:
d= "stocks_fred.csv"

In [7]:
data = pd.read_csv(d)

In [8]:
data.head(5)

,Locality,Postal code,Type,Build,Price,Number_rooms,Fully_equipped_kitchen,Furnished,Open_fire,Terrace,Ter_Area,Garden,Area_garden,Livable_surface_area,Surface_area_land,Numb_facades,Swimming_pool,State
0,Hoboken,2660,Appartement,1,149000€,2.0,1,0,0,1,1.0,0,NaN,92.0,NaN,3.0,0,À rénover
1,Aywaille,4920,Résidence de la Heid,0,De 190000€ À 235000€,NaN,0,0,0,0,NaN,0,NaN,NaN,NaN,NaN,0,NaN
2,Uccle,1180,Appartement,1,198000€,1.0,0,0,0,1,15.0,0,NaN,76.0,NaN,2.0,0,Bon
3,Ganshoren,1083,Appartement,1,265000€,4.0,0,0,0,1,13.0,0,NaN,90.0,NaN,4.0,0,Excellent état
4,Ostende,8400,Appartement,1,410000€,3.0,0,0,0,1,2.0,0,NaN,109.0,NaN,NaN,0,À rénover

In [9]:
data.duplicated(subset = None, keep = "first")

0        False
1        False
2        False
3        False
4        False
         ...
10195    False
10196    False
10197    False
10198    False
10199    False
Length: 10200, dtype: bool

In [12]:
data.drop_duplicates(subset=None, keep="first",inplace=True)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9950 entries, 0 to 10199
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Locality                9950 non-null   object
 1   Postal code             9950 non-null   int64
 2   Type                    9950 non-null   object
 3   Build                   9950 non-null   int64
 4   Price                   9950 non-null   object
 5   Number_rooms            8910 non-null   float64
 6   Fully_equipped_kitchen  9950 non-null   int64
 7   Furnished               9950 non-null   int64
 8   Open_fire               9950 non-null   int64
 9   Terrace                 9950 non-null   int64
 10  Ter_Area                4384 non-null   float64
 11  Garden                  9950 non-null   int64
 12  Area_garden             2070 non-null   float64
 13  Livable_surface_area    8789 non-null   float64
 14  Surface_area_land       4293 non-null   float64
 15  Numb_facades            7013 non-null   float64
 16  Swimming_pool           9950 non-null   int64
 17  State                   7925 non-null   object
dtypes: float64(6), int64(8), object(4)
memory usage: 1.4+ MB

 # Exploring datas

In [14]:
data.columns

Index(['Locality', 'Postal code', 'Type', 'Build', 'Price', 'Number_rooms',
       'Fully_equipped_kitchen', 'Furnished', 'Open_fire', 'Terrace',
       'Ter_Area', 'Garden', 'Area_garden', 'Livable_surface_area',
       'Surface_area_land', 'Numb_facades', 'Swimming_pool', 'State'],
      dtype='object')

In [23]:
data['Numb_facades'].value_counts()

2.0     3507
4.0     1888
3.0     1563
1.0       54
10.0       1
Name: Numb_facades, dtype: int64

In [20]:
data["State"].value_counts()

Excellent état        3230
Bon                   2803
À rafraîchir           675
À rénover              598
Fraîchement rénové     585
À restaurer             34
Name: State, dtype: int64

In [19]:
data['Fully_equipped_kitchen'].value_counts()

0    5493
1    4457
Name: Fully_equipped_kitchen, dtype: int64

In [17]:
data["Number_rooms"].value_counts()

3.0     2805
2.0     2720
4.0     1394
1.0      905
5.0      599
6.0      264
7.0      102
8.0       51
9.0       24
10.0      14
11.0       8
12.0       6
14.0       3
13.0       3
20.0       3
15.0       3
41.0       2
16.0       1
30.0       1
18.0       1
23.0       1
Name: Number_rooms, dtype: int64

In [15]:
data["Type"].value_counts()

Appartement              3489
Maison                   2980
Villa                     680
Duplex                    306
Penthouse                 295
                         ...
The Edge                    1
Central Park - Bloc E       1
FIDELIS II                  1
Portum                      1
Huyse Vandewalle            1
Name: Type, Length: 703, dtype: int64

In [16]:
data["Build"].value_counts()

1    9207
0     743
Name: Build, dtype: int64

In [55]:
data["heatingType"].value_counts()

gas         9190
fueloil     2316
electric     736
pellet       117
wood          26
carbon        14
solar          5
Name: heatingType, dtype: int64

In [24]:
data.describe()

,Postal code,Build,Number_rooms,Fully_equipped_kitchen,Furnished,Open_fire,Terrace,Ter_Area,Garden,Area_garden,Livable_surface_area,Surface_area_land,Numb_facades,Swimming_pool
count,9950.000000,9950.000000,8910.000000,9950.000000,9950.000000,9950.000000,9950.000000,4384.000000,9950.000000,2070.000000,8789.000000,4293.000000,7013.000000,9950.000000
mean,4614.929146,0.925327,3.019978,0.447940,0.034472,0.062714,0.440603,29.478330,0.208040,1187.925604,175.721129,1288.775914,2.754741,0.031457
std,3122.281898,0.262877,1.652573,0.497307,0.182448,0.242459,0.496484,53.779673,0.405926,5169.306341,138.534325,4044.118894,0.864307,0.174559
min,1000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,1340.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,90.000000,93.000000,210.000000,2.000000,0.000000
50%,4130.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,18.000000,0.000000,252.000000,136.000000,475.000000,2.000000,0.000000
75%,8300.000000,1.000000,4.000000,1.000000,0.000000,0.000000,1.000000,35.000000,0.000000,800.000000,212.000000,1060.000000,4.000000,0.000000
max,9991.000000,1.000000,41.000000,1.000000,1.000000,1.000000,1.000000,2000.000000,1.000000,80000.000000,2300.000000,117800.000000,10.000000,1.000000

 # Premières modifs